.landing-page
{
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    align-items: center;

    width: 100%;
}

.landing-page h1,
.landing-page h2,
.landing-page h3
{
    font-family: 'cwTeXMing', serif;
    font-weight: bold;
}

.landing-page-banner,
.landing-page-footer
{
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 510px;
    padding: 1rem;

    color: white;
    background-attachment: fixed;
    background-size: cover;
}

.landing-page-banner
{
    background-image: linear-gradient(to right, rgba(0, 0, 0, .4), rgba(0, 0, 0, .2)), url(http://i.imgur.com/kLYFb4p.jpg);
    background-position: center;
}

.typed-cursor
{
    animation: blink 1s linear infinite;

    opacity: 1;
}

@keyframes blink
{
    0%
    {
        opacity: 1;
    }
    50%
    {
        opacity: 0;
    }
    100%
    {
        opacity: 1;
    }
}

.landing-page-content
{
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;

    padding: 4.5rem 0;
}

.landing-page-item
{
    position: relative;

    display: flex;
    flex: 1 1 auto;
    flex-direction: column;

    padding: 4.5rem 1.5rem;
}

.landing-page-phase
{
    font-size: 1.125rem;

    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 1.5rem 0;
}

.landing-page-phase img
{
    width: 180px;
    height: 180px;

    border-radius: 50%;
    background-color: #ccc;
}

.landing-page-pros
{
    padding: 1.5rem 0;
}

.landing-page-pros-text-container
{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.landing-page-pros-text-container.reverse
{
    justify-content: flex-start;

    order: 1;
}

.landing-page-pros-text
{
    font-size: 1.125rem;

    max-width: 400px;
}

.landing-page-pros-image-container
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.landing-page-pros-image-container.reverse
{
    order: -1;
}

.landing-page-pros-image
{
    width: 240px;
    height: 240px;

    border-radius: 50%;
    background-position: center;
    background-size: cover;
}

@media (max-width: 575px)
{
    .landing-page-content
    {
        padding: 3rem 0;
    }
    .landing-page-item
    {
        padding: 1.5rem;
    }
    .landing-page-phase
    {
        margin: 1.5rem 0;
    }
    .landing-page-pros-text-container.reverse
    {
        justify-content: center;

        order: -1;
    }
    .landing-page-pros-text
    {
        text-align: center;
    }
    .landing-page-pros-image-container.reverse
    {
        order: 1;
    }
    .landing-page-pros-image
    {
        width: 180px;
        height: 180px;
    }
}

.landing-page-footer
{
    background-image: linear-gradient(to right, rgba(0, 0, 0, .4), rgba(0, 0, 0, .2)), url(http://i.imgur.com/cyMqpiW.jpg);
    background-position: top;
}
