.user h3
{
    margin: 1rem 0 0 0;
}

.user-profile-modal .ql-editor p
{
    font-family: inherit;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.5;

    margin: .25rem 0;

    color: #292b2c;
}
