.workshop-update .ql-editor
{
    font-family: 'cwTeXMing', serif;
    font-size: 1.25rem;
    line-height: 1.58;

    color: rgb(41, 43, 44);
}

.workshop-update .ql-editor h3
{
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 1.75rem;
    font-weight: bold;
    line-height: 1.15;

    margin: 3rem 0 0 0;
}

.workshop-update .ql-editor p,
.workshop-update .ql-editor blockquote,
.workshop-update .ql-editor pre,
.workshop-update .ql-editor ol,
.workshop-update .ql-editor ul,
.workshop-update .ql-editor img
{
    margin-top: 2rem;
}

.workshop-update .ql-editor *:first-child
{
    margin-top: 0;
}

.workshop-update .ql-editor h3 + p,
.workshop-update .ql-editor h3 + blockquote,
.workshop-update .ql-editor h3 + pre,
.workshop-update .ql-editor h3 + ol,
.workshop-update .ql-editor h3 + ul,
.workshop-update .ql-editor h3 + img
{
    margin: .5rem 0 0 0;
}
