.workshop-list-item:hover {
    cursor: pointer;
}

.workshop-list-item-title {
    font-weight: bold;
    line-height: 1.22;
    height: 3.625rem;
    width: 100%;
    overflow: hidden;
}

.workshop-list-item-price-deleted {
    color: #636c72;
    text-decoration: line-through;
    font-size: 0.75rem;
}

.workshop-list-item-price {
    color: #0275d8;
    font-weight: bold;
    font-size: 1.25rem;
}

.workshop-list-item-image-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    overflow: hidden;
}

.workshop-list-item-image-container:after {
    padding-top: 50%;
    display: block;
    content: '';
}

.workshop-list-item-image {
    width: 100%;
    position: absolute;
    -webkit-transition: width 0.36s;
    transition: width 0.36s;
}

.workshop-list-item-image:hover {
    width: 125%;
}

.workshop-list-item-badge {
    font-size: 1rem !important;
    position: absolute;
    top: 0.5rem;
    left: -0.25rem;
}
