.workshop-profile
{
    display: flex;

    width: 100%;
    margin-bottom: 3rem;

    color: white;
    background-position: center;
    background-size: cover;

    justify-content: center;
    align-items: center;
}

.workshop-article
{
    font-family: 'cwTeXMing', serif;
    font-size: 1.25rem;
    line-height: 1.58;
}

.workshop-article h1,
.workshop-article h3,
.workshop-article h4
{
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: bold;

    margin: 3rem 0 0 0;
}

.workshop-article h1
{
    line-height: 1.04;

    margin: 0;
}

.workshop-article h3
{
    line-height: 1.15;
}

.workshop-article h4
{
    line-height: 1.22;
}

.workshop-article img
{
    width: 100%;
}

.workshop-article p,
.workshop-article blockquote,
.workshop-article pre,
.workshop-article ol,
.workshop-article ul,
.workshop-article img
{
    margin: 2rem 0 0 0;
}

.workshop-article h3 + h4,
.workshop-article h3 + p,
.workshop-article h3 + blockquote,
.workshop-article h3 + pre,
.workshop-article h3 + ol,
.workshop-article h3 + ul,
.workshop-article h3 + img,
.workshop-article h4 + p,
.workshop-article h4 + blockquote,
.workshop-article h4 + pre,
.workshop-article h4 + ol,
.workshop-article h4 + ul,
.workshop-article h4 + img
{
    margin: .5rem 0 0 0;
}

.workshop-badge {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 1rem;
}

.workshop-state
{
    margin: 1rem 0 0 0;
    padding: 2rem;

    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.workshop-state h3
{
    margin: 0;
}

.workshop-state-attend button
{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

#workshop-attend
{
    margin-top: 3rem;
}

#workshop-attend > h3:first-child
{
    margin-top: 0;
}

#workshop-attend button{
    margin-top: 2rem;
}
