.nav-bar-auth button.dropdown-item:hover
{
    cursor: pointer;
}

.nav-bar-auth .facebook-picture
{
    width: 36px;
    height: 36px;
    margin: auto 0 auto .5rem;
    padding: 2px;

    cursor: pointer;

    border-radius: 50%;
}

.nav-bar-auth .facebook-picture > img
{
    width: 100%;

    border-radius: 50%;
}
