.nav-bar-alert
{
    position: fixed;
    z-index: 1029;
    top: 56px;
    left: 0;

    width: 100%;

    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.nav-bar-alert button.close
{
    top: 0;
    right: 0;

    padding: 0;
}
