.full
{
    display: flex;
    flex-direction: column;

    width: 100%;

    align-items: center;
}

.inner,
.outer
{
    width: 100%;
    padding: 0 20px;
}

.inner
{
    max-width: 740px;
}

.outer
{
    max-width: 1000px;
}

.form-group {
    margin-bottom: 2rem !important;
}

.unlink:link,
.unlink:visited,
.unlink:hover,
.unlink:active
{
    text-decoration: none;

    color: inherit;
}
