.vote-content {
    width: 100%;
    height: 2.125rem;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0 0.25rem 0.25rem 0;
}

.vote-progress {
    height: 100%;
    width: 30%;
    background-color: #e9ebee;
}

.vote-title {
    padding: 0.25rem 0.5rem;
    position: absolute;
    top: 0;
}
