.footer-container
{
    width: 100%;
    margin-top: auto;
    padding: 2rem 0;

    background-color: #f5f5f5;
}

.footer
{
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 0 auto;
}

.footer-anchor a
{
    margin: 0 .25rem;
}

@media (max-width: 767px)
{
    .footer
    {
        flex-direction: column;
    }

    .footer-anchor
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer-anchor a
    {
        margin: .25rem .25rem;
    }
}
