.attend-button
{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-top: .25rem;
}

.attend-button-attendees
{
    display: flex;
    align-items: center;
}

.attend-button-attendees > a > img
{
    width: 24px;
    height: 24px;
    margin: 0 0 0 -7px;

    border-radius: 50%;
}

.attend-button-attendees > a > img:first-child
{
    margin-left: 0;
}
