.dropzone:hover
{
    cursor: pointer;
}

.dropzone
{
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;

    color: #666;
    border: .25rem dashed #ccc;
    border-radius: .25rem;
}

.dropzone-active
{
    border-color: #5cb85c;
}

.dropzone-reject
{
    border-color: #d9534f;
}

.dropzone-image
{
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
}

.dropzone-message
{
    position: absolute;
}
