.dropzone:after
{
    display: block;

    padding-top: 50%;

    content: '';
}

.dropzone:hover
{
    cursor: pointer;
}

.dropzone
{
    position: relative;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    width: 100%;

    color: #666;
    border: .25rem dashed #ccc;
    border-radius: .25rem;
}

.dropzone-active
{
    border-color: #5cb85c;
}

.dropzone-reject
{
    border-color: #d9534f;
}

.dropzone-image
{
    position: absolute;

    width: 100%;
}

.dropzone-message
{
    position: absolute;
}
