.progress-bar-container
{
    position: relative;

    width: 100%;
    height: 1rem;

    border-radius: .25rem;
    background-color: #aaa;
}

.progress-bar-bar
{
    position: absolute;

    height: 100%;

    border-radius: .25rem;
}

.progress-bar-text
{
    font-size: .75rem;

    position: absolute;

    display: flex;

    width: 100%;
    height: 100%;

    color: white;

    align-items: center;
    justify-content: center;
}
