.workshop-item-image-container
{
    position: relative;

    display: flex;
    overflow: hidden;

    width: 100%;

    align-items: center;
    justify-content: center;
}

.workshop-item-image-container:after
{
    display: block;

    padding-top: 50%;

    content: '';
}

.workshop-item-image
{
    position: absolute;

    width: 100%;

    -webkit-transition: width .36s;
            transition: width .36s;
}

.workshop-item-image:hover
{
    width: 125%;
}

.workshop-item-badge
{
    font-size: 1rem !important;

    position: absolute;
    top: .5rem;
    left: -.25rem;
}

.workshop-item-title
{
    font-weight: bold;
    line-height: 1.22;

    overflow: hidden;

    width: 100%;
    height: 3.625rem;
}

.workshop-item-price-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.workshop-item-price-deleted
{
    font-size: .75rem;

    text-decoration: line-through;

    color: #636c72;
}

.workshop-item-price
{
    font-size: 1.25rem;
    font-weight: bold;
}
